include AUTHORS

include LICENSE
include CITATION.cff
include DESCRIPTION
include CHANGELOG.txt
include README.md
include requirements.txt
graft tornado_botocore
global-exclude *.pyc



#package data
include docs/*

include molmap/config/descriptor_scale.cfg.gzip
include molmap/config/fingerprint_scale.cfg.gzip
include molmap/dataset/*.csv


include molmap/feature/fingerprint/*.xlsx
include molmap/feature/fingerprint/*.fdef

include molmap/feature/sequence/aas/local_feature/aai/result_data/*.pkl
include molmap/feature/sequence/aas/local_feature/aai/result_data/*.csv

include molmap/feature/sequence/nas/global_feature/data/mmc3.data
include molmap/feature/sequence/nas/global_feature/data/mmc4.data

